[user]
	email = njkevlani@gmail.com
	name = Nilesh
	signingkey = E8A0E35BE2E4EB1A9C62E50F27CBB64272E42DB0
[color]
	ui = true
[core]
	autocrlf = input
	editor = nvim
	quotepath = false
	commitGraph = true
[filter "gitignore"]
	clean = "sed '/#gitignore$/'d"
	smudge = cat
[diff]
  tool = meld
[difftool]
    prompt = false
[difftool "meld"]
  cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

[gc]
	writeCommitGraph = true
[commit]
	gpgsign = true

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
