[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=i3-wm
Comment=Start i3-wm
Exec=i3
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
