nmap <S-Up> v<Up>
nmap <S-Down> v<Down>
nmap <S-Left> v<Left>
nmap <S-Right> v<Right>
vmap <S-Up> <Up>
vmap <S-Down> <Down>
vmap <S-Left> <Left>
vmap <S-Right> <Right>
imap <S-Up> <Esc>v<Up>
imap <S-Down> <Esc><Right>v<Down>
imap <S-Left> <Esc><Left>v<Left>
imap <S-Right> <Esc><Right>v<Right>
imap <Home> <Esc>^i
nmap <Home> ^
vmap <Home> ^
imap <S-Home> <Esc>0i
nmap <S-Home> 0
vmap <S-Home> 0
imap <C-BS> <C-W>
set backspace=indent,eol,start
set clipboard+=unnamed
