set backspace=indent,eol,start
set clipboard+=unnamed
set number
set relativenumber
set visualbell
set surround

let mapleader=" "
nnoremap <leader>h <C-w>h
nnoremap <leader>j <C-w>j
nnoremap <leader>k <C-w>k
nnoremap <leader>l <C-w>l
