[Desktop Entry]
Name=Screenshot (Niri)
Comment=Take screenshot in niri
Exec=niri msg action screenshot
Icon=camera-photo
Terminal=false
Type=Application
Categories=System;

