[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/nilesh/Desktop/jetbrains-pycharm-ce.desktop]
row=2
col=0

[/home/nilesh/Desktop/jetbrains-idea-ce.desktop]
row=1
col=0

[/home/nilesh/Desktop/visual-studio-code.desktop]
row=3
col=0

[70D2-19A3]
row=6
col=0

[/home/nilesh]
row=0
col=0

