@theme "~/.config/rofi/themes/spotlight-dark.rasi"

icon-search {
    filename: "accessories-calculator";
}

entry {
    placeholder: "Math Expression";
}

configuration {
    calc {
	calc-command: "echo -n '{result}' | wl-copy";
    }
}
