# To enable, run: systemctl enable i3lock.service

[Unit]
Description=Lock the screen on resume from suspend

[Service]
User=nilesh
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/nilesh/xfce-dotFiles/scripts/i3lock-blur

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
